body {
  background-color: grey;
}
* {
  box-sizing: border-box;
}

h1 {
  font-size: x-large;
  font-weight: bold;
  color: blue;
}
/************ Laptops & Desktops ***************/

/************ Mobile Devices ***************/
@media (min-width: 992) and (max-width: 1199) {
}

/************ Phones ***************/
@media (max-width: 991) {
}

#box {
  background-color: red;
  padding: 10px;
  border: 5px solid black;
  width: 200px;
  height: 100px;
  margin-top: 50px;
  overflow: auto;
}

#box2 {
  background-color: blue;
  padding: 10px;
  border: 5px solid black;
  width: 200px;
  height: 100px;
  margin-top: 20px;
  overflow: auto;
}

#box3 {
  background-color: blue;
  padding: 10px;
  border: 5px solid black;
  width: 200px;
  height: 100px;
  margin-top: 20px;
  overflow: auto;
}

#content {
  background-color: #90ee90; /* green */
}

#content2 {
  background-color: #90ee90; /* green */
}

#content3 {
  background-color: #90ee90; /* green */
}
