<!doctype html>
<!--    -->
<html lang="en">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
        <title>Meal Planner</title>
    </head>

    <body ng-app='LunchCheck'>
        <h1>Meal Plan Adviser</h1>
        <div ng-controller='LunchCheckController'>
            <p>Type in each meal sepertated by a comma: (error checking on)</p>
            <input type="text" ng-model="foodText" placeholder="example: eggs, pizza, sushi">
            <button ng-click="testMeal()">Test Meal Plan</button>
            <button ng-click="clearText()">Reset</button>
            <div>{{mealPlan}}</div>
            <br>
        </div>
    </body>

</html>