<div class="container" ng-controller="SignUpController as ctrl">
  <div class="col-sm-12">
    <form name="signupForm" ng-submit="ctrl.signUp()" novalidate>

      <h1 id="signup-title" class="text-center">Sign up for our Newsletter!</h1>

      <!--first name-->
      <div class="form-group">
        <label class="col-sm-3 control-label">First Name:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control " name="firstname" placeholder="Example: John" pattern="^[A-Za-z]+$"
            ng-model="ctrl.data.firstName" required>
          <!--check-->
          <span ng-if="!signupForm.firstname.$pristine && !signupForm.firstname.$valid ">First name is
            required and must only contain letters without spaces</span>
        </div>
      </div>

      <!--last name-->
      <div class="form-group">
        <label class="col-sm-3 control-label">Last Name:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="lastname" placeholder="Example: Smith" pattern="^[A-Za-z]+$"
            ng-model="ctrl.data.lastName" required>
          <!--check-->
          <span ng-if="!signupForm.lastname.$pristine && !signupForm.lastname.$valid">Last name is
            required and must only contain letters without spaces</span>
        </div>
      </div>

      <!--email-->
      <div class="form-group">
        <label class="col-sm-3 control-label">Email Address:</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" name="email" placeholder="Example: jsmith@real.com"
            ng-model="ctrl.data.email" required>
          <!--check-->
          <span ng-if="!signupForm.email.$pristine && !signupForm.email.$valid  && !ctrl.enrolled">
            Valid email address in proper format is required</span>
        </div>
      </div>

      <!--phone number-->
      <div class="form-group">
        <label class="col-sm-3 control-label">Phone Number:</label>
        <div class=" col-sm-9">
          <input type="text" class="form-control" name="phone" ng-model="ctrl.data.phone"
            placeholder="Example: 0123456789" pattern="\d{10}" maxlength="10" required>
          <!--check-->
          <span ng-if="!signupForm.phone.$pristine && !signupForm.phone.$valid">10 digit Phone
            Number is required</span>
        </div>
      </div>

      <!--favorite Optional form -->
      <div class="form-group">
        <label for="favoritedish" class="col-sm-3 control-label">Favorite Dish (optional):</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="favoritedish" ng-model="ctrl.data.favoriteDish"
            placeholder="Example: SP4" pattern="^[A-Za-z]{1,2}\d{1,2}$" ng-trim="false">
          <!--pattern="^[A-Za-z]{1,2}\d{1,2}$"-->
          <!--check-->
          <span ng-if="!signupForm.favoritedish.$valid">If you
            are unsure of your favorite dish code please leave this field blank</span>
        </div>
      </div>

      <!--submit-->
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <button type="submit" class="btn btn-primary" ng-disabled="!signupForm.$valid">Sign Up!
          </button>
        </div>
      </div>

      <!--message -->
      <div class="col-sm-9 col-sm-offset-3" ng-show="ctrl.verified">
        <span ng-show="ctrl.enrolled"></span>
        <span ng-show="!ctrl.enrolled"></span>
        <span>{{ctrl.data.message}}</span>
      </div>
    </form>
  </div>
</div>